# Sistema operativo
.DS_Store       # MacOS
Thumbs.db       # Windows

# Archivos de editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Archivos temporales
*.log
*.tmp
*.temp
*.psd

# Build output (si en el futuro agregás algún bundler)
dist/
build/

# Archivos de entorno (por si agregas variables locales)
.env
.env.*
